/* inter-300 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v13-cyrillic_latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-cyrillic_latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-cyrillic_latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    font-size: 62.5%;
    --main: #5956E9;
    --bg-secondary: #FFF;
    --text-main: #232223;
    --text-secondary: #6C6C72;
    font-family: 'Inter', sans-serif, Helvetica, Arial;
    --shadow-color: 0deg 34% 40%;
    --shadow-elevation-low:
        0.9px 0.9px 1.7px hsl(var(--shadow-color) / 0.21),
        1.9px 1.8px 3.5px -0.5px hsl(var(--shadow-color) / 0.42),
        4.4px 4.3px 8.3px -1px hsl(var(--shadow-color) / 0.63);
    --shadow-elevation-medium:
        0.9px 0.9px 1.7px hsl(var(--shadow-color) / 0.18),
        3.6px 3.5px 6.8px -0.2px hsl(var(--shadow-color) / 0.28),
        6.7px 6.6px 12.7px -0.5px hsl(var(--shadow-color) / 0.39),
        12.2px 12px 23.1px -0.7px hsl(var(--shadow-color) / 0.49),
        22px 21.7px 41.7px -1px hsl(var(--shadow-color) / 0.6);
    --shadow-elevation-high:
        0.9px 0.9px 1.7px hsl(var(--shadow-color) / 0.16),
        8.8px 8.7px 16.7px -0.1px hsl(var(--shadow-color) / 0.21),
        15.9px 15.7px 30.2px -0.2px hsl(var(--shadow-color) / 0.26),
        23.3px 22.9px 44.1px -0.3px hsl(var(--shadow-color) / 0.31),
        31.9px 31.4px 60.4px -0.4px hsl(var(--shadow-color) / 0.36),
        42.9px 42.3px 81.3px -0.6px hsl(var(--shadow-color) / 0.41),
        57.3px 56.5px 108.6px -0.7px hsl(var(--shadow-color) / 0.46),
        76.3px 75.2px 144.6px -0.8px hsl(var(--shadow-color) / 0.5),
        100.9px 99.5px 191.3px -0.9px hsl(var(--shadow-color) / 0.55),
        132.2px 130.4px 250.7px -1px hsl(var(--shadow-color) / 0.6);
}

::selection {
    background: var(--text-main);
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

h1 {
    display: none;
}

header {
    width: 100%;
    background-color: var(--main);
    padding: 4rem 1.6rem;
}

.header-wrapper {
    background-color: var(--bg-secondary);
    position: relative;
    height: 4rem;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    box-shadow: .0rem .1rem 1.0rem .0rem rgba(0, 0, 0, 0.10);
    border-radius: .3rem;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: center;
    color: var(--text-secondary);
}

a {
    color: var(--main);
    text-decoration: none;
}

div {
    background-color: var(--main);
    border-radius: 1rem;
}

h1 {
    margin: 0;
}

a:hover {
    text-decoration: underline;
}

a:visited:not(.header__download) {
    color: var(--main);
}

a:focus {
    border: 3px solid var(--main);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


button:hover {
    transition: opacity 150ms;
    box-shadow: var(--shadow-elevation-high);

    animation: 1s linear spin infinite;

}

.logo {
    display: block;
    width: 10rem;
    height: 100%;
    margin: 0;
    text-align: center;
    padding: 1rem;
    position: relative;
    z-index: 3;
    color: var(--text-main);
    font-weight: 500;
    font-size: 1.6rem;
}

.logo::after {
    width: 100%;
    height: 150%;
    background-color: var(--bg-secondary);
    content: "";
    display: block;
    position: absolute;
    left: -.1rem;
    top: -25%;
    z-index: -1;
    border-radius: .4rem;
    box-shadow: .0rem .1rem 1.0rem .0rem rgba(0, 0, 0, 0.10);
}

.slogan-primary {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.75rem;
    color: var(--main);
    position: relative;
    z-index: 3;
    margin-top: 0 !important;
    margin-bottom: 1.8rem;
}

.call-to-action {
    font-size: 2.5rem;
    color: var(--text-main);
    font-weight: 600;
    margin-top: 5rem !important;
}


.section-download-call-primary {
    background-color: var(--main);
    background-image: url(../img/background1.png);
    padding: 8.8rem 1.6rem 12rem 1.6rem;

}

.section-download-call-primary__img {
    width: 100%;
    display: block;
    margin-top: 6rem;
    background: transparent;
}

.container-primary {
    background-color: var(--bg-secondary);
    width: 32.3rem;
    padding: 3rem 1.8rem 1.5rem 1.8rem;
    border-radius: 0;
    position: relative;
    z-index: 3;
    margin: 0 auto;
}


.container-primary::before {
    box-sizing: border-box;
    width: 32.3rem;
    height: 35.8rem;
    display: block;
    top: -2.0rem;
    left: 2.0rem;
    border: 1.0rem solid #7572FF;
    content: "";
    position: absolute;
    z-index: 1;
}

.container-primary::after {
    box-sizing: border-box;
    width: 32.3rem;
    height: 35.8rem;
    display: block;
    top: 0;
    left: 0;
    content: "";
    background-color: var(--bg-secondary);
    position: absolute;
    z-index: 2;
}

@media screen and (max-width: 380px) {
    .container-primary {
        width: 100%;
    }

    .container-primary::after,
    .container-primary::before {
        display: none;
    }

    section {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .section-how-to-use::after {
        width: 100% !important;
    }

    .section-download-call-secondary__downloadlink:last-of-type>img {
        margin-right: 0;
    }

    .section-about-primary__text {
        margin: 0 auto !important;
    }
}

.container-primary>p {
    position: relative;
    z-index: 3;
    text-align: left;
    margin-top: 1rem;
}

.container-primary>a>img {
    width: 10.8rem;
    height: 3.4rem;
    display: inline-block;
    background-color: #fff;
    position: relative;
    z-index: 3;
    text-align: left;
    margin-right: 1.0rem;
    border-radius: .4rem;
}

.header__download {
    font-size: 1rem;
    color: var(--bg-secondary);
    background-color: var(--main);
    float: right;
    height: 90%;
    margin: .2rem .2rem 0 0;
    padding: 1.2rem 1.0rem;
    background-color: var(--main);
    border: none;
    border-radius: .3rem;
}

.section-about-primary {
    background-color: var(--bg-secondary);
    padding: 6.0rem 1.6rem 9.2rem 1.6rem;

}

.section-about-primary__text {
    margin: 0 0 4.0rem 2.2rem;
}

.section-about-primary__img {
    width: 23.8rem;
    margin: 0 0 4.0rem 5.3rem;
    height: 32.4rem;
    display: block;
}

.section-about-primary__list {
    list-style: none;
}

.section-about-primary__list>li {

    width: 91%;
    padding: 1.8rem 1.6rem 1.0rem 6.0rem;
    position: relative;
    margin-bottom: 2.0rem;
    background-color: var(--bg-secondary);
    border-radius: 1.0rem;
    box-shadow: .0rem .1rem 1.0rem .0rem rgba(0, 0, 0, 0.10);
}

.section-about-primary__list>li>p {
    text-align: left;
    margin: .6rem 0 0 0;
}

.section-about-primary__list>li>svg {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 3.8rem;
    left: 1.7rem;
}


.heading-about {
    font-size: 2.5rem;
    color: var(--text-main);
    font-weight: 600;
    text-align: center;
}

.heading-description {
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    margin: 0;
}


.section-about-secondary {
    background-color: var(--main);
    background-image: url(../img/background2.png);
    padding: 6.0rem 3.9rem;
}


.section-about-secondary__heading {
    color: var(--bg-secondary);
    text-align: center;
    margin: 0 0 1.8rem 0;
}

.section-about-secondary__text {
    color: var(--bg-secondary);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}

.section-about-secondary__list {
    list-style: none;
    padding: 0;
}

.section-about-secondary__list>li {
    text-align: center;
}

.section-about-secondary__list>li>svg {
    margin: 4.0rem 0 0 0;
}

.section-about-secondary__list>li>p {
    color: var(--bg-secondary);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}

.section-about-secondary__list>li>h3 {
    margin-top: 3rem;
    font-size: 2rem;
    color: var(--bg-secondary);
    font-weight: 600;
    text-align: center;
}

.section-about-secondary__img {
    width: min(calc(100vw - 16.0rem), 37.5rem);
    max-width: 100%;
    display: block;
    object-fit: contain;
    border-radius: 4.0rem;
    margin: 6.0rem auto 8.0rem auto;
    box-shadow: 4.0rem 4.0rem 10.0rem .0rem rgba(24, 48, 63, 0.50);
}

.section-download-call-secondary {
    padding: 1.6rem;
}

.section-download-call-secondary {
    background-color: var(--bg-secondary);
    padding: 10.3rem 1.6rem 6.0rem 1.6rem;
}

.section-download-call-secondary__heading {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;
    margin-right: auto;
    width: 20.0rem;
    line-height: 3.75rem;
    margin: 0 auto 0 0;
}

.section-download-call-secondary__text {
    font-weight: 400;
    text-align: left;
    margin-bottom: 4.0rem;
    margin-top: 1.8rem;
}



.section-download-call-secondary__downloadlinks {
    display: flex;
    width: 100%;
    background-color: transparent;
    margin-bottom: 6.0rem;
    justify-content: left;
    column-gap: 2.5rem;
}

.section-download-call-secondary__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: min(100%, 318px);
    padding: 0;
    background-color: transparent;
    /* align-self: flex-end; */
}

.section-download-call-secondary__list>li {
    background-color: var(--main);
    width: 9.6rem;
    text-align: center;
    margin: 0 0 6.0rem 0;
    padding: 1.1rem 0 1.0rem 0;
    display: inline-block;
    border-radius: 1.0rem;
}

.section-download-call-secondary__list>li>p {
    margin: 0;
    color: var(--bg-secondary);
}

.section-download-call-secondary__list>li>img {
    max-width: 1.6rem;
    max-height: 1.6rem;
}


.section-download-call-secondary__downloadlink>img {
    max-width: 20.0rem;
    width: 100%;
    aspect-ratio: 3;
    display: inline-block;
    background-color: transparent;
    position: relative;
    z-index: 3;
    text-align: left;
    margin-right: 1.0rem;
    border-radius: .4rem;

}

.section-download-call-secondary__img {
    width: min(calc(100vw - 4.0rem), 51.6rem);
    max-width: 100%;
    display: block;
}

.amount {
    font-size: 2rem;
    font-weight: 600;
    display: block;
}

.section-how-to-use {
    background-color: var(--main);
    padding: 6.0rem 1.6rem 0 1.6rem;
}

.section-how-to-use__heading {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.75rem;
    color: var(--bg-secondary);
}

.section-how-to-use__text {
    text-align: center;
    margin-bottom: 4.0rem;
    color: var(--bg-secondary);
}

.section-how-to-use__img {
    border-radius: 1.0rem;
    position: relative;
    display: block;
    top: 7.5rem;
    z-index: 1;
    margin: 0 auto;
    box-shadow: .0rem 1.0rem 10.0rem .0rem rgba(0, 0, 0, 0.24);
}



.section-how-to-use::after {
    height: 13.4rem;
    /* width: calc(100vw - 1.3rem); */
    width: calc(100% + 3.2rem);
    content: "";
    display: block;
    background-color: #FFF;
    position: relative;
    left: 0;
    bottom: 0;
}

.section-happy-customers {
    background-color: var(--main);
    background-image: url(../img/background3.png);
    background-position: center;
    padding: 6.0rem 1.6rem;
    text-align: center;
}

.section-happy-customers__heading {
    color: var(--bg-secondary);
    margin-bottom: 1.8rem;
}

.section-happy-customers__text {
    color: var(--bg-secondary);
    margin-bottom: 3.2rem;
}

.section-happy-customers__list {
    background-color: var(--bg-secondary);
    color: var(--text-main);
    list-style-type: none;
    text-align: center;
    padding: 2.0rem .9rem;
    border-radius: 1.0rem;
    /* Effect-2 */
    box-shadow: .0rem 1.0rem 10.0rem .0rem rgba(0, 0, 0, 0.24);
}


.section-happy-customers__list>li:first-of-type {
    width: 95%;
}

.section-happy-customers__list>li>img:first-of-type {
    width: 5.0rem;
    height: 5.0rem;
    display: inline-block;
}


.section-happy-customers__list>li>blockquote>cite>span:first-of-type {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-main);
    margin-bottom: .0rem;
    font-style: normal;
}

.section-happy-customers__list>li>blockquote>cite>span:last-of-type {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-secondary);
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
    font-style: normal;
    display: block;
}

.section-happy-customers__slider {
    background-color: transparent;
    width: 16.0rem;
    margin: 4.0rem 0 0 calc(50% - 8rem);
}

.section-happy-customers__slider>button:first-of-type::before {
    content: "";
    border: .1rem solid white;
    display: inline;
    padding: 1.1rem;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: -.2rem;
    left: -.2rem;
    /* z-index: 0; */
}


.section-happy-customers__slider>button {
    display: inline;
    padding: 1.0rem;
    border: none;
    border-radius: 50%;
    margin-right: 1.0rem;
    background-color: #FFF;
    position: relative;
}

.section-recent-blog {
    background-color: var(--bg-secondary);
    padding: 6.0rem 1.6rem 0 1.6rem;
}

.section-recent-blog__heading {
    color: var(--text-main);
    margin: 0 0 1.8rem 0;
    text-align: center;
}

.section-recent-blog__text {
    margin-bottom: 4.0rem;
    text-align: center;
}

.section-recent-blog__list {
    list-style: none;
    padding: 0;
}

.section-recent-blog__list>li {
    background-color: var(--bg-secondary);
    width: 91%;
    padding: 0 0 3.0rem 0;
    margin: 0 0 4.0rem 4.5%;
    border-radius: 1.0rem;
    /* Effect-1 */
    box-shadow: .0rem .1rem 1.0rem .0rem rgba(0, 0, 0, 0.10);
}

.section-recent-blog__list>li>img {
    width: 100%;
    height: 34.3rem;
    object-fit: cover;
    border-radius: 1.0rem 1.0rem .0rem .0rem;
}

.section-recent-blog__list>li>h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-main);
    margin: 3.0rem 0 0 1.8rem;
    text-align: left;
    text-transform: uppercase;
    line-height: 3rem;
}

.section-recent-blog__list>li>p {
    margin: 1.3rem 0 0 1.8rem;
    text-align: left;
}

.section-recent-blog__list>li>a {
    font-size: 2rem;
    font-weight: 600;
    color: var(--main);
    text-decoration: underline;
    display: block;
    margin: 2rem 0 0 1.8rem;
}


.section-recent-blog__credentials {
    width: 91%;
    margin: -12.0rem auto 0 auto;
    padding: 3.0rem 3.4rem 3.0rem 3.4rem;
    text-align: center;
    background-color: var(--bg-secondary);
    position: relative;
    top: 15.5rem;
    border-radius: 1.0rem;
    box-shadow: 0 0 4.0rem .2rem rgba(0, 0, 0, 0.10);
}


.section-recent-blog__credentials>svg {
    /* margin-top: 3.0rem; */
    width: 5.0rem;
    height: 5.0rem;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 2.0rem;
}

.section-recent-blog__credentials>a {
    font-size: 2rem;
    color: var(--text-main);
    margin: 0 0 3.0rem 0;
    text-align: center;
    display: block;
    font-weight: 600;
}

.section-recent-blog__credentials>a:last-of-type {
    margin-bottom: 0;
}

.section-recent-blog__credentials>.divider-horizon {
    width: 11.7rem;
    height: .4rem;
    background: #000;
    margin: 2.0rem auto;
}

footer {
    background-color: var(--text-main);
    color: var(--bg-secondary);
    padding: 22.0rem 1.6rem 1.6rem 1.6rem;
}

.footer__heading {
    margin-bottom: .5rem;
    margin-top: 0;
}

.footer__text {
    color: var(--bg-secondary);
    max-width: 91%;
    text-align: left;
    margin-bottom: 1.5rem;
}

.footer__links {
    display: flex;
    margin-bottom: 5.0rem;
    list-style: none;
    padding: 0;
}

.footer__links>li {
    display: flex;
}

.footer__links>li>a>svg {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 3.2rem;
    position: relative;
    bottom: .1rem;
}

.footer__links>li>.divider-vert {
    width: .1rem;
    height: 2.0rem;
    background-color: #FFF;
    margin-right: 3.2rem;
}


.footer__subheading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.footer__nav {
    margin-left: 0;
}

.footer__nav>a {
    color: var(--bg-secondary);
    font-size: 1.6rem;
    font-weight: 400;
    display: block;
    margin-bottom: 1.5rem;
}

.footer__nav:last-of-type {
    margin-bottom: 5.0rem;
}

.footer__form {
    position: relative;
    margin-bottom: 6.0rem;
}


.footer__form>label>input {
    background-color: var(--bg-secondary);
    width: 100%;
    padding: 1.3rem 0 1.3rem 1.7rem;
    border-radius: .4rem;
    color: var(--text-main);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
}

.footer__form>label>input::placeholder {
    color: var(--text-secondary);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
}

.footer__form>button {
    position: absolute;
    padding: 0.5rem 0.5rem 0.4rem 0.6rem;
    display: block;
    right: .3rem;
    top: .3rem;
    border: none;
    background-color: var(--main);
    border-radius: .4rem;
}

/* footer>hr {
    width: 91%;
    height: .1rem;
    background: #fff;
} */
.footer__copyright::before {
    content: "";
    position: absolute;
    top: -4.0rem;
    left: 0.5%;
    right: 1%;
    /* width: 99%; */
    height: .1rem;
    background: #fff;
}

.footer__copyright {
    font-weight: 300;
    font-size: 1.28rem;
    text-align: center;
    margin: 1.6rem 0 0 0;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin: auto 0 0 0;
}

@media screen and (max-width: 767.99px) {
    .header--contacts {
        display: none;
    }

    .content-wrapper {
        background: transparent;
        width: 40rem;
        margin: 0 auto;
    }

    .burger {
        margin: .7rem 0 0 .7rem;
        border: none;
        background-color: var(--bg-secondary);
    }

    .section-happy-customers__list>li:not(:first-of-type) {
        display: none;
    }
}

.transparent {
    background-color: transparent;
}

@media screen and (min-width: 768px) and (max-width: 1199.99px) {



    .md-flex {
        display: flex !important;
    }

    .md-justify-between {
        justify-content: space-between !important;
    }



    .md-wrap {
        flex-wrap: wrap !important;
    }

    .md-w-half {
        width: 50% !important;
    }

    .md-w-full {
        width: 100% !important;
    }

    header {
        padding-top: 25px;
    }

    .logo {
        width: 20rem;
    }

    .logo>svg {
        width: 90%;
        height: 90%;
    }

    .content-wrapper {
        background: transparent;
        width: 66.8rem;
        margin: 0 auto;
    }

    .header-wrapper {
        height: 60px;
        display: flex;
        place-items: center;
    }

    .header--contacts {
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 0 auto 35px auto;
        width: 66.8rem;
    }

    .header--contacts>*>* {
        margin: 0;
        color: var(--bg-secondary);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-wrap: nowrap;
    }

    .contacts--email {
        display: flex;
        gap: 16px;
        place-items: center;
        place-content: center;
    }

    .contacts--phone {
        display: flex;
        gap: 16px;
        place-items: center;
        place-content: center;
        margin-left: 7%;
    }

    .contacts--socials {
        display: flex;
        gap: 30px;
        place-items: center;
        place-content: center;
        margin-left: auto;
    }

    nav,
    .burger {
        margin: 0 0 0 0.7rem;
        border: none;
        background-color: var(--bg-secondary);
        margin-right: 50px;
    }

    .header__download {
        font-size: 2.0rem;
        font-weight: 600;
        line-height: 3.0rem;
        text-transform: uppercase;
        color: var(--bg-secondary);
        background-color: var(--main);
        float: right;
        height: 90%;
        /* width: 20%; */
        margin: 0 5px 0 0;
        padding: 1.2rem 1.0rem;
        background-color: var(--main);
        border: none;
        border-radius: .3rem;
    }

    .section-download-call-primary>.content-wrapper {
        display: flex;
        gap: 55px;
        justify-content: space-between;
        padding-bottom: 3rem;
    }

    .section-download-call-primary__img {
        margin-top: 0;
        max-width: 35%;
    }

    .container-primary {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 47.25px;
        padding: 1.4rem 0.7rem 1.4rem 1.8rem;
        height: 55%;
        margin: 5rem 0 5rem 0;
    }

    .container-primary::before {
        box-sizing: border-box;
        width: 110%;
        height: 118%;
        display: block;
        top: -3rem;
        left: 3.2rem;
        border: 1.8rem solid #7572FF;
        content: "";
        position: absolute;
        z-index: 1;
    }

    .container-primary::after {
        box-sizing: border-box;
        width: 110%;
        height: 100%;
        display: block;
        top: 0;
        left: 0;
        content: "";
        background-color: var(--bg-secondary);
        position: absolute;
        z-index: 2;
    }

    .slogan-primary {
        margin-bottom: 0;
    }

    h2 {
        font-size: 3.125rem !important;
        font-weight: 700 !important;
    }

    .section-about-primary__img {
        margin: 0;
        place-self: center;
        height: 100%;
    }

    .section-about-primary__list {
        width: 60%;
        justify-self: end;
    }

    .section-about-primary {
        padding-top: 9.5rem;
        padding-bottom: 16rem;
    }

    .section-about-secondary {
        padding-top: 12rem;
        padding-bottom: 10.4rem;
    }

    .section-about-secondary__list {
        display: grid;
        gap: 1.8rem;
        position: relative;
        right: 2rem;
        grid-template-areas:
            "a a a"
            "b c d"
            "e c f"
            "g g g"
        ;
    }

    .section-about-secondary__list>li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 23rem;
    }

    .section-about-secondary__img {
        margin: 0;
    }

    .section-about-secondary__list>li:nth-of-type(1) {
        grid-area: a;
        place-self: center;
    }

    .section-about-secondary__list>li:nth-of-type(2)>p,
    .section-about-secondary__list>li:nth-of-type(5)>p,
    .section-about-secondary__list>li:nth-of-type(2)>h3,
    .section-about-secondary__list>li:nth-of-type(5)>h3 {
        text-align: right;
        margin-bottom: 0;
    }

    .section-about-secondary__list>li:nth-of-type(3)>p,
    .section-about-secondary__list>li:nth-of-type(6)>p,
    .section-about-secondary__list>li:nth-of-type(3)>h3,
    .section-about-secondary__list>li:nth-of-type(6)>h3 {
        text-align: left;
        margin-bottom: 0;
    }

    .section-about-secondary__list>li:nth-of-type(2)>svg,
    .section-about-secondary__list>li:nth-of-type(3)>svg,
    .section-about-secondary__list>li:nth-of-type(5)>svg,
    .section-about-secondary__list>li:nth-of-type(6)>svg {
        margin: 0;
    }

    .section-about-secondary__list>li:nth-of-type(7)>svg {
        margin-top: 2rem;
    }

    .section-about-secondary__list>li:nth-of-type(2) {
        grid-area: b;
        place-self: center;
        align-items: end;
    }

    .section-about-secondary__list>li:nth-of-type(3) {
        grid-area: d;
        place-self: center;
        align-items: start;
    }

    .section-about-secondary__list>li:has(img) {
        width: 22rem;
        grid-area: c;
    }

    .section-about-secondary__list>li:nth-of-type(5) {
        grid-area: e;
        place-self: center;
        align-items: end;
    }

    .section-about-secondary__list>li:nth-of-type(6) {
        grid-area: f;
        align-items: start;
        place-self: center;
    }

    .section-about-secondary__list>li:nth-of-type(7) {
        grid-area: g;
        width: 100%;
        padding: 0 20%;
    }

    .section-download-call-secondary__list {
        width: 50%;
    }

    .section-download-call-secondary__img {
        width: 31rem;
        height: 30rem;
        align-self: end;
        margin-bottom: 10rem;
    }

    .section-how-to-use__img {
        width: 57rem;
        border-radius: 2rem;
    }

    .section-how-to-use::after {
        height: 28rem;
    }

    .section-happy-customers {
        padding-bottom: 12rem;
    }

    .section-happy-customers__slider {
        margin-top: 8rem;
    }

    .section-happy-customers>.content-wrapper {
        width: 45rem;
    }

    .section-recent-blog__list {
        display: flex;
        gap: 2.4rem;
    }

    .section-recent-blog__list>li {
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 63.3rem;
    }

    .section-recent-blog__list>li>img {
        width: 21.3rem;
        height: 22.8rem;
    }

    .section-recent-blog__list>li>a {
        margin-top: auto;
    }

    .section-recent-blog__credentials {
        width: 66.8rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 15rem;
        padding: 0;
        margin: -0.0rem auto 0 auto;
        top: 7.5rem;
    }

    .section-recent-blog__credentials>svg,
    .section-recent-blog__credentials>a,
    .section-recent-blog__credentials>.divider-horizon {
        margin: 0;
    }

    .section-recent-blog__credentials>a {
        font-size: 1.6rem;
    }

    .section-recent-blog__credentials>svg {
        width: 6rem;
        height: 6rem;
    }

    .divider-horizon {
        height: 11.7rem !important;
        width: .4rem !important;
    }

    .footer__nav {
        background: transparent;
    }

    footer>.content-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer__links {
        justify-content: space-between;
    }

    .footer__links>li>a>svg {
        margin-right: 1.7rem;
    }

    .footer__links>li>.divider-vert {
        margin-right: 0;
    }

    .footer__nav>a:first-of-type {
        margin-top: 2.5rem;
    }

    .footer__nav>a {
        margin-top: 2.2rem;
    }

    .footer__copyright {
        grid-column: span 3;
        width: 100%;
    }

    .footer__copyright::before {
        top: -1.8rem;
        width: 66.8rem;
    }
}

.lg-show {
    display: none;
}

@media screen and (min-width: 1200px) {

    .section-download-call-primary,
    .section-about-secondary,
    .section-how-to-use,
    .section-happy-customers {
        background-image: url(../img/section-bg-lg.png);
        object-position: center;
    }

    .lg-show {
        display: initial;
    }

    .burger {
        display: none;
    }

    .lg-flex {
        display: flex !important;
    }

    .lg-justify-between {
        justify-content: space-between !important;
    }

    .lg-wrap {
        flex-wrap: wrap !important;
    }

    .lg-w-half {
        width: 50% !important;
    }

    .lg-w-full {
        width: 100% !important;
    }

    header {
        padding-top: 3.5rem;
    }

    h2 {
        font-size: 3.125rem !important;
        font-weight: 700 !important;
    }

    .logo {
        width: 20rem;
    }

    .logo>svg {
        width: 90%;
        height: 90%;
    }

    .content-wrapper {
        background: transparent;
        width: 117rem;
        margin: 0 auto;
    }

    .header-wrapper {
        height: 60px;
        display: flex;
        place-items: center;
    }

    .header--contacts {
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 0 auto 35px auto;
        width: 117rem;
    }

    .header--contacts>*>* {
        margin: 0;
        color: var(--bg-secondary);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-wrap: nowrap;
    }

    .contacts--email {
        display: flex;
        gap: 16px;
        place-items: center;
        place-content: center;
    }

    .contacts--phone {
        display: flex;
        gap: 16px;
        place-items: center;
        place-content: center;
        margin-left: 7%;
    }

    .contacts--socials {
        display: flex;
        gap: 30px;
        place-items: center;
        place-content: center;
        margin-left: auto;
    }

    .header__nav:first-of-type {
        display: flex;
        justify-content: start;
        width: 38%;
    }

    .header__nav:last-of-type {
        display: flex;
        justify-content: start;
        width: 20%;
        gap: 4rem;
    }

    .header__nav>a {
        font-size: 2rem;
        font-weight: 600;
        color: var(--text-main);
        line-height: 3rem;
    }

    .header__nav:first-of-type>a {
        margin-left: 5rem;
    }

    .header__download {
        font-size: 2.0rem;
        font-weight: 600;
        line-height: 3.0rem;
        text-transform: uppercase;
        color: var(--bg-secondary);
        background-color: var(--main);
        float: right;
        height: 90%;
        /* width: 20%; */
        margin: 0 .5rem 0 0;
        padding: 1.2rem 1.0rem;
        background-color: var(--main);
        border: none;
        border-radius: .3rem;
    }

    .section-download-call-primary>.content-wrapper {
        display: flex;
        gap: 17rem;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
    }

    .section-download-call-primary__img {
        margin-top: 0;
        max-width: 35%;
    }

    .container-primary {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 47.25px;
        padding: 4rem 2.3rem 4.1rem 3rem;
        margin: 5rem 0 5rem 0;
        width: 57rem;
        height: 43.2rem;
    }

    .container-primary::before {
        box-sizing: border-box;
        width: 115%;
        height: 135%;
        display: block;
        top: -7.5rem;
        left: 5.5rem;
        border: 1.8rem solid #7572FF;
        content: "";
        position: absolute;
        z-index: 1;
    }

    .container-primary::after {
        box-sizing: border-box;
        width: 110%;
        height: 100%;
        display: block;
        top: 0;
        left: 0;
        content: "";
        background-color: var(--bg-secondary);
        position: absolute;
        z-index: 2;
    }

    .slogan-primary {
        font-size: 4.9rem;
        line-height: 6.35rem;
        margin-bottom: 0;
    }

    .section-about-primary__text {
        margin: 1.8rem auto 6rem;
        width: 60rem;
    }

    .section-about-primary__img {
        width: 35rem;
        height: 57rem;
    }

    .section-about-primary__list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .section-about-primary__list>li {
        padding: 3rem 2rem 2rem 6rem;
    }

    .section-about-primary__list>li>svg {
        top: 2.9rem;
        left: 2rem;
    }

    .heading-description {
        margin: 0 auto 1.8rem 0;
    }

    .section-about-secondary {
        padding-top: 12rem;
        padding-bottom: 10.4rem;
    }

    .section-about-secondary__list {
        display: grid;
        gap: 6rem;
        place-items: center;
        grid-template-areas:
            "a a a"
            "b c d"
            "e c f"
            "g g g"
        ;
    }

    .section-about-secondary__list>li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-about-secondary__img {
        margin: 0;
    }

    .section-about-secondary__list>li>h3 {
        font-size: 2.5rem;
        line-height: 3.75rem;
    }

    .section-about-secondary__list>li:nth-of-type(1) {
        grid-area: a;
        place-self: center;
    }

    .section-about-secondary__list>li:nth-of-type(2)>p,
    .section-about-secondary__list>li:nth-of-type(5)>p,
    .section-about-secondary__list>li:nth-of-type(2)>h3,
    .section-about-secondary__list>li:nth-of-type(5)>h3 {

        text-align: right;
        margin-bottom: 0;
    }

    .section-about-secondary__list>li:nth-of-type(3)>p,
    .section-about-secondary__list>li:nth-of-type(6)>p,
    .section-about-secondary__list>li:nth-of-type(3)>h3,
    .section-about-secondary__list>li:nth-of-type(6)>h3 {
        text-align: left;
        margin-bottom: 0;
    }

    .section-about-secondary__list>li:nth-of-type(2)>svg,
    .section-about-secondary__list>li:nth-of-type(3)>svg,
    .section-about-secondary__list>li:nth-of-type(5)>svg,
    .section-about-secondary__list>li:nth-of-type(6)>svg {
        margin: 0;
    }

    .section-about-secondary__list>li:nth-of-type(7)>svg {
        margin-top: 2rem;
    }

    .section-about-secondary__list>li:nth-of-type(2) {
        grid-area: b;
        place-self: center;
        align-items: end;
    }

    .section-about-secondary__list>li:nth-of-type(3) {
        grid-area: d;
        place-self: center;
        align-items: start;
    }

    .section-about-secondary__list>li:has(img) {
        width: 37.5rem;
        grid-area: c;
    }

    .section-about-secondary__list>li:nth-of-type(5) {
        grid-area: e;
        place-self: center;
        align-items: end;
    }

    .section-about-secondary__list>li:nth-of-type(6) {
        grid-area: f;
        align-items: start;
        place-self: center;
    }

    .section-about-secondary__list>li:nth-of-type(7) {
        grid-area: g;
        width: 100%;
        padding: 0 20%;
    }

    .section-download-call-secondary__heading {
        width: 50rem;
    }

    .section-download-call-secondary__text {
        width: 57rem;
    }

    .section-download-call-secondary__downloadlinks {
        width: 32.5rem;
    }

    .section-download-call-secondary__list>li {
        width: 17rem;
        height: 17.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .section-download-call-secondary__list>li>svg {
        width: 3.5rem;
        height: 3.5rem;
    }


    .section-download-call-secondary__list>li>p {
        margin-top: .5rem;
        height: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .section-download-call-secondary__list>li>p>span {
        font-size: 2.5rem;
    }

    .section-download-call-secondary {
        padding-bottom: 12rem;
    }

    .section-how-to-use__heading {
        font-size: 3.125rem;
        font-weight: 700;
    }

    .section-how-to-use__text {
        width: 60rem;
        margin: 0 auto;
    }

    .section-how-to-use__img {
        width: 77rem;
        top: 17rem;
        border-radius: 2.2rem;
        margin-top: -12rem;
    }

    .section-how-to-use::after {
        height: 36rem;
    }

    .section-happy-customers__text {
        width: 60rem;
        margin: 2rem auto 6rem auto;
    }

    .section-happy-customers__list {
        width: 77.0rem;
        height: 35.7rem;
        margin: 0 auto;
    }

    .section-happy-customers__list>li {
        width: 100%;
        height: 100%;
    }

    .section-happy-customers__list>li>img {
        margin-top: 2rem;
        width: 9.6rem !important;
        height: 9.6rem !important;
    }

    blockquote>cite>span:first-of-type {
        font-size: 3.125rem !important;
        line-height: 4.725rem !important;
    }

    blockquote>cite>span:last-of-type {
        font-size: 2rem !important;
        line-height: 3rem !important;
        color: var(--text-main) !important;
        font-weight: 600 !important;
    }

    .section-happy-customers {
        padding-bottom: 12rem;
    }

    .section-happy-customers__slider {
        margin-top: 6rem;
    }

    .section-recent-blog {
        padding-top: 12rem;
    }

    .section-recent-blog__text {
        width: 60rem;
        margin: 2.3rem auto 6rem auto;
    }

    .section-recent-blog__list {
        display: flex;
        gap: 3rem;
    }

    .section-recent-blog__list>li {
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 50rem;
    }

    .section-recent-blog__list>li>img {
        width: 100%;
        height: 22.8rem;
    }

    .section-recent-blog__list>li>a {
        margin-top: auto;
    }

    .section-recent-blog__credentials {
        width: 117rem;
        height: 23rem !important;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 15rem;
        padding: 0;
        margin: -0.0rem auto 0 auto;
        top: 11.5rem;
        border-radius: 3rem;
    }

    .section-recent-blog__credentials>svg,
    .section-recent-blog__credentials>a,
    .section-recent-blog__credentials>.divider-horizon {
        margin: 0;
    }

    .section-recent-blog__credentials>a {
        font-size: 2.5rem;
        font-weight: 600;
        margin-right: 10%;
    }

    .section-recent-blog__credentials>svg {
        width: 10rem !important;
        height: 10rem !important;
        margin-left: 5%;
    }

    .divider-horizon {
        height: 11.7rem !important;
        width: .4rem !important;
    }

    .footer__nav {
        background: transparent;
    }

    footer>.content-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer__links {
        justify-content: space-between;
    }

    .footer__links>li>a>svg {
        margin-right: 4.5rem;
    }

    .footer__links>li>.divider-vert {
        margin-right: 0;
    }

    .footer__nav>a:first-of-type {
        margin-top: 2.5rem;
    }

    .footer__nav>a {
        margin-top: 2.2rem;
    }

    form {
        height: 5rem;
        margin-top: 5rem;
    }

    input {
        height: 100%;
    }

    button[type="submit"] {
        width: 5.2rem;
        height: 4.4rem;
    }

    .footer__copyright {
        grid-column: span 3;
        width: 100%;
    }

    .footer__copyright::before {
        top: -1.8rem;
        width: 117rem;
    }
}