/* inter-300 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v13-cyrillic_latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-cyrillic_latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-cyrillic_latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    font-size: 62.5%;
    --main: #5956E9;
    --bg-secondary: #FFF;
    --text-main: #232223;
    --text-secondary: #6C6C72;
    font-family: 'Inter', sans-serif, Helvetica, Arial;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

h1 {
    display: none;
}

header {
    width: 100%;
    background-color: var(--main);
    padding: 4rem 1.6rem;
}

.header-wrapper {
    background-color: var(--bg-secondary);
    position: relative;
    height: 4rem;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    box-shadow: .0rem .1rem 1.0rem .0rem rgba(0, 0, 0, 0.10);
    border-radius: .3rem;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: center;
    color: var(--text-secondary);
}

a {
    color: var(--main);
    text-decoration: none;
}

div {
    background-color: var(--main);
    border-radius: 1rem;
}

h1 {
    margin: 0;
}

.content-wrapper {
    background: transparent;
    max-width: 40rem;
    margin: 0 auto;
}

.header-wrapper>h2 {
    display: block;
    width: 10rem;
    height: 4rem;
    margin: 0;
    text-align: center;
    padding: 1rem;
    position: relative;
    z-index: 3;
    color: var(--text-main);
    font-weight: 500;
    font-size: 1.6rem;
}

.header-wrapper>h2::after {
    width: 100%;
    height: 150%;
    background-color: var(--bg-secondary);
    content: "";
    display: block;
    position: absolute;
    left: -.1rem;
    top: -1.0rem;
    z-index: -1;
    border-radius: .4rem;
    box-shadow: .0rem .1rem 1.0rem .0rem rgba(0, 0, 0, 0.10);
}

.burger {
    margin: .7rem 0 0 .7rem;
    border: none;
    background-color: var(--bg-secondary);
}

.slogan-primary {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.75rem;
    color: var(--main);
    position: relative;
    z-index: 3;
    margin-top: 0 !important;

}

.call-to-action {
    font-size: 2rem;
    color: var(--text-main);
    font-weight: 600;
}


.section-download-call-primary {
    background-color: var(--main);
    background-image: url(../img/background1.png);
    padding: 8.8rem 1.6rem 12rem 1.6rem;

}

.section-download-call-primary__img {
    max-width: min(100%, 144.0rem);
    display: block;
    margin-top: 6rem;
    background: transparent;
}

.container-primary {
    background-color: var(--bg-secondary);
    width: 32.3rem;
    padding: 3rem 1.8rem 1.5rem 1.8rem;
    border-radius: 0;
    position: relative;
    z-index: 3;
    margin: 0 auto;
}


.container-primary::before {
    box-sizing: border-box;
    width: 32.3rem;
    height: 35.8rem;
    display: block;
    top: -2.0rem;
    left: 2.0rem;
    border: 1.0rem solid #7572FF;
    content: "";
    position: absolute;
    z-index: 1;
}

.container-primary::after {
    box-sizing: border-box;
    width: 32.3rem;
    height: 35.8rem;
    display: block;
    top: 0;
    left: 0;
    content: "";
    background-color: var(--bg-secondary);
    position: absolute;
    z-index: 2;
}

.container-primary>p {
    position: relative;
    z-index: 3;
    text-align: left;
    margin-top: 1rem;
}

.container-primary>a>img {
    width: 10.8rem;
    height: 3.4rem;
    display: inline-block;
    background-color: #fff;
    position: relative;
    z-index: 3;
    text-align: left;
    margin-right: 1.0rem;
    border-radius: .4rem;
}

.header__download {
    font-size: 1rem;
    color: var(--bg-secondary);
    background-color: var(--main);
    float: right;
    height: 3.6rem;
    margin: .2rem .2rem 0 0;
    padding: 1.2rem 1.0rem;
    background-color: var(--main);
    border: none;
    border-radius: .3rem;
}

.section-about-primary {
    background-color: var(--bg-secondary);
    padding: 6.0rem 1.6rem 9.2rem 1.6rem;

}

.section-about-primary__text {
    margin: 0 0 4.0rem 2.2rem;
}

.section-about-primary__img {
    width: 23.8rem;
    margin: 0 0 4.0rem 5.3rem;
    height: 32.4rem;
    display: block;
}

.section-about-primary__list {
    list-style: none;
}

.section-about-primary__list>li {

    width: 91%;
    padding: 1.8rem 1.6rem 1.0rem 6.0rem;
    position: relative;
    margin-bottom: 2.0rem;
    background-color: var(--bg-secondary);
    border-radius: 1.0rem;
    box-shadow: .0rem .1rem 1.0rem .0rem rgba(0, 0, 0, 0.10);
}

.section-about-primary__list>li>p {
    text-align: left;
    margin: .6rem 0 0 0;
}

.section-about-primary__list>li>svg {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 3.8rem;
    left: 1.7rem;
}


.heading-about {
    font-size: 2.5rem;
    color: var(--text-main);
    font-weight: 600;
    text-align: center;
}

.heading-description {
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    margin: 0;
}


.section-about-secondary {
    background-color: var(--main);
    background-image: url(../img/background2.png);
    padding: 6.0rem 3.9rem;
}


.section-about-secondary__heading {
    color: var(--bg-secondary);
    text-align: center;
    margin: 0 0 1.8rem 0;
}

.section-about-secondary__text {
    color: var(--bg-secondary);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}

.section-about-secondary__list {
    list-style: none;
    padding: 0;
}

.section-about-secondary__list>li {
    text-align: center;
}

.section-about-secondary__list>li>svg {
    margin: 4.0rem 0 0 0;
}

.section-about-secondary__list>li>p {
    color: var(--bg-secondary);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}

.section-about-secondary__list>li>h3 {
    margin-top: 3rem;
    font-size: 2rem;
    color: var(--bg-secondary);
    font-weight: 600;
    text-align: center;
}

.section-about-secondary__img {
    width: min(calc(100vw - 16.0rem), 37.5rem);
    max-width: 100%;
    display: block;
    object-fit: contain;
    border-radius: 4.0rem;
    margin: 6.0rem auto 8.0rem auto;
    box-shadow: 4.0rem 4.0rem 10.0rem .0rem rgba(24, 48, 63, 0.50);
}

.section-download-call-secondary {
    padding: 1.6rem;
}

.section-download-call-secondary {
    background-color: var(--bg-secondary);
    padding: 10.3rem 1.6rem 6.0rem 1.6rem;
}

.section-download-call-secondary__heading {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;
    margin-right: auto;
    width: 20.0rem;
    line-height: 3.75rem;
    margin: 0 auto 0 0;
}

.section-download-call-secondary__text {
    font-weight: 400;
    text-align: left;
    margin-bottom: 4.0rem;
    margin-top: 1.8rem;
}



.section-download-call-secondary__downloadlinks {
    display: flex;
    width: 100%;
    background-color: transparent;
    margin-bottom: 6.0rem;
    justify-content: left;
    column-gap: 2.5rem;
}

.section-download-call-secondary__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: min(100%, 318px);
    padding: 0;
    background-color: transparent;
    /* align-self: flex-end; */
}

.section-download-call-secondary__list>li {
    background-color: var(--main);
    width: 9.6rem;
    text-align: center;
    margin: 0 0 6.0rem 0;
    padding: 1.1rem 0 1.0rem 0;
    display: inline-block;
    border-radius: 1.0rem;
}

.section-download-call-secondary__list>li>p {
    margin: 0;
    color: var(--bg-secondary);
}

.section-download-call-secondary__list>li>img {
    max-width: 1.6rem;
    max-height: 1.6rem;
}


.section-download-call-secondary__downloadlink>img {
    max-width: 20.0rem;
    width: 100%;
    aspect-ratio: 3;
    display: inline-block;
    background-color: transparent;
    position: relative;
    z-index: 3;
    text-align: left;
    margin-right: 1.0rem;
    border-radius: .4rem;

}

.section-download-call-secondary__img {
    width: min(calc(100vw - 4.0rem), 51.6rem);
    max-width: 100%;
    display: block;
}

.amount {
    font-size: 2rem;
    font-weight: 600;
    display: block;
}

.section-how-to-use {
    background-color: var(--main);
    padding: 6.0rem 1.6rem 0 1.6rem;
}

.section-how-to-use__heading {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.75rem;
    color: var(--bg-secondary);
}

.section-how-to-use__text {
    text-align: center;
    margin-bottom: 4.0rem;
    color: var(--bg-secondary);
}

.section-how-to-use__img {
    border-radius: 1.0rem;
    position: relative;
    display: block;
    top: 7.5rem;
    z-index: 1;
    margin: 0 auto;
    box-shadow: .0rem 1.0rem 10.0rem .0rem rgba(0, 0, 0, 0.24);
}



.section-how-to-use::after {
    height: 13.4rem;
    /* width: calc(100vw - 1.3rem); */
    width: calc(100% + 3.2rem);
    content: "";
    display: block;
    background-color: #FFF;
    position: relative;
    left: 0;
    bottom: 0;
}

.section-happy-customers {
    background-color: var(--main);
    background-image: url(../img/background3.png);
    background-position: center;
    padding: 6.0rem 1.6rem;
    text-align: center;
}

.section-happy-customers__heading {
    color: var(--bg-secondary);
    margin-bottom: 1.8rem;
}

.section-happy-customers__text {
    color: var(--bg-secondary);
    margin-bottom: 3.2rem;
}

.section-happy-customers__list {
    background-color: var(--bg-secondary);
    color: var(--text-main);
    list-style-type: none;
    text-align: center;
    padding: 2.0rem .9rem;
    border-radius: 1.0rem;
    /* Effect-2 */
    box-shadow: .0rem 1.0rem 10.0rem .0rem rgba(0, 0, 0, 0.24);
}


.section-happy-customers__list>li:first-of-type {
    width: 95%;
}

.section-happy-customers__list>li>img:first-of-type {
    width: 5.0rem;
    height: 5.0rem;
    display: inline-block;
}


.section-happy-customers__list>li>blockquote>cite>span:first-of-type {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-main);
    margin-bottom: .0rem;
    font-style: normal;
}

.section-happy-customers__list>li>blockquote>cite>span:last-of-type {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-secondary);
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
    font-style: normal;
    display: block;
}

.section-happy-customers__slider {
    background-color: transparent;
    width: 16.0rem;
    margin: 4.0rem 0 0 calc(50% - 8rem);
}

.section-happy-customers__slider>button:first-of-type::before {
    content: "";
    border: .1rem solid white;
    display: inline;
    padding: 1.1rem;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: -.2rem;
    left: -.2rem;
    /* z-index: 0; */
}


.section-happy-customers__slider>button {
    display: inline;
    padding: 1.0rem;
    border: none;
    border-radius: 50%;
    margin-right: 1.0rem;
    background-color: #FFF;
    position: relative;
}

.section-recent-blog {
    background-color: var(--bg-secondary);
    padding: 6.0rem 1.6rem 0 1.6rem;
}

.section-recent-blog__heading {
    color: var(--text-main);
    margin: 0 0 1.8rem 0;
    text-align: center;
}

.section-recent-blog__text {
    margin-bottom: 4.0rem;
    text-align: center;
}

.section-recent-blog__list {
    list-style: none;
    padding: 0;
}

.section-recent-blog__list>li {
    background-color: var(--bg-secondary);
    width: 91%;
    padding: 0 0 3.0rem 0;
    margin: 0 0 4.0rem 4.5%;
    border-radius: 1.0rem;
    /* Effect-1 */
    box-shadow: .0rem .1rem 1.0rem .0rem rgba(0, 0, 0, 0.10);
}

.section-recent-blog__list>li>img {
    width: 100%;
    height: 34.3rem;
    object-fit: cover;
    border-radius: 1.0rem 1.0rem .0rem .0rem;
}

.section-recent-blog__list>li>h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-main);
    margin: 3.0rem 0 0 1.8rem;
    text-align: left;
    text-transform: uppercase;
    line-height: 3rem;
}

.section-recent-blog__list>li>p {
    margin: 1.3rem 0 0 1.8rem;
    text-align: left;
}

.section-recent-blog__list>li>a {
    font-size: 2rem;
    font-weight: 600;
    color: var(--main);
    text-decoration: underline;
    display: block;
    margin: 2rem 0 0 1.8rem;
}


.section-recent-blog__credentials {
    width: 91%;
    margin: -12.0rem auto 0 auto;
    padding: 3.0rem 3.4rem 3.0rem 3.4rem;
    text-align: center;
    background-color: var(--bg-secondary);
    position: relative;
    top: 15.5rem;
    border-radius: 1.0rem;
    box-shadow: 0 0 4.0rem .2rem rgba(0, 0, 0, 0.10);
}


.section-recent-blog__credentials>svg {
    /* margin-top: 3.0rem; */
    width: 5.0rem;
    height: 5.0rem;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 2.0rem;
}

.section-recent-blog__credentials>a {
    font-size: 2rem;
    color: var(--text-main);
    margin: 0 0 3.0rem 0;
    text-align: center;
    display: block;
    font-weight: 600;
}

.section-recent-blog__credentials>a:last-of-type {
    margin-bottom: 0;
}

.section-recent-blog__credentials>.divider-horizon {
    width: 11.7rem;
    height: .4rem;
    background: #000;
    margin: 2.0rem auto;
}

footer {
    background-color: var(--text-main);
    color: var(--bg-secondary);
    padding: 22.0rem 1.6rem 1.6rem 1.6rem;
}

.footer__heading {
    margin-bottom: .5rem;
    margin-top: 0;
}

.footer__text {
    color: var(--bg-secondary);
    max-width: 91%;
    text-align: left;
    margin-bottom: 1.5rem;
}

.footer__links {
    display: flex;
    margin-bottom: 5.0rem;
    list-style: none;
    padding: 0;
}

.footer__links>li {
    display: flex;
}

.footer__links>li>a>svg {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 3.2rem;
    position: relative;
    bottom: .1rem;
}

.footer__links>li>.divider-vert {
    width: .1rem;
    height: 2.0rem;
    background-color: #FFF;
    margin-right: 3.2rem;
}


.footer__subheading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-top: 0;
}


.footer__nav>a {
    color: var(--bg-secondary);
    font-size: 1.6rem;
    font-weight: 400;
    display: block;
    margin-bottom: 1.5rem;
}

.footer__nav:last-of-type {
    margin-bottom: 5.0rem;
}

.footer__form {
    position: relative;
    margin-bottom: 6.0rem;
}


.footer__form>label>input {
    background-color: var(--bg-secondary);
    width: 100%;
    padding: 1.3rem 0 1.3rem 1.7rem;
    border-radius: .4rem;
}


.footer__form>button {
    position: absolute;
    padding: 0.5rem 0.5rem 0.4rem 0.6rem;
    display: block;
    right: .3rem;
    top: .3rem;
    border: none;
    background-color: var(--main);
    border-radius: .4rem;
}

/* footer>hr {
    width: 91%;
    height: .1rem;
    background: #fff;
} */
form::before {
    content: "";
    position: absolute;
    bottom: -4.0rem;
    left: 0.5%;
    right: 1%;
    /* width: 99%; */
    height: .1rem;
    background: #fff;
}

.footer__copyright {
    font-weight: 300;
    font-size: 1.28rem;
    text-align: center;
    margin: 1.6rem 0 0 0;
}